<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="pokemons"></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="pokemon" size="large">{{pokemon.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="pokemon">
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
        <img *ngIf="pokemon.img" [src]="getPictureUrl(pokemon.img)"/>
          <h1>{{pokemon.nombre}}</h1>
          <p>Peso: {{pokemon.peso}} kg</p>
          <p>Altura: {{pokemon.altura}} m</p>
          <p>Tipo: {{pokemon.tipo}}</p>
          <p>Categoria: {{pokemon.categoria}}</p>
          <p>Habilidad: {{pokemon.habilidad}}</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
       <ion-button expand="block" color="danger" [routerLink]="['/pokemons/delete', pokemon.id]"> Eliminar </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
       <ion-button expand="block" color="warning" [routerLink]="['/pokemons/edit', pokemon.id]"> Editar </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
